@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";
@tailwind utilities;

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

:root {
    --dark: #353326;
    --green-moss: #897E45;
    --white: #fafafa;
    --lavander: #ada3b1;
    --corail: #EF955F;
    --orange: #C46D52;

    --green: #b2b866;
    --yellow: #efb665;
    --red: #e15145;
}

::selection {
    background-color: var(--green-moss);
    color: white;
}

::-moz-selection {
    background-color: var(--green-moss);
    color: white;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    color: var(--dark);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

/* === Typography Hierarchy === */
h1, h2, h3 {
    font-family: 'Satoshi-Variable', sans-serif;
    text-transform: uppercase;
}




