@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NoeDisplay';
    src: url('./assets/fonts/noedisplay-font.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark: #353326;
    --green-moss: #897E45;
    --white: #fafafa;
    --lavander: #ada3b1;
    --corail: #EF955F;
    --orange: #C46D52;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    color: #2E2E2E;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    font-size: 1.75rem;
}

header nav a {
    color: var(--dark);
    margin-right: 2rem;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: var(--orange);
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.input {
    padding: 0.5rem 0.75rem;
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    width: 100%;
    outline: none;
    transition: border-color 0.2s;
}

h1, h2, h3 {
    color: #2E2E2E;
    font-family: "Montserrat SemiBold", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #FFF8DC;
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: transform 0.1s, box-shadow 0.1s;
}

li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
